<div class="rounded-xl bg-white p-4 lg:p-6 shadow-sm">
  <div class="flex flex-row items-center justify-between mb-6">
    <div>
      <div class="flex items-center gap-2 text-3xl font-semibold">
        <lucide-angular [img]="getWeatherIcon().icon" class="w-16 h-16" [class]="getWeatherIcon().color"></lucide-angular>
        Estado <br> Actual
      </div>
      <div class="flex items-center gap-1 text-sm text-gray-500">
        <lucide-angular [img]="ClockIcon" class="h-4 w-4"></lucide-angular>
        Última actualización: {{ solarData.timestamp.toLocaleTimeString() }}
      </div>
    </div>

    <!-- <button
      (click)="simulateSensorData()"
      [disabled]="isLoading"
      class="flex items-center text-sm border px-2 py-1 rounded hover:bg-gray-100 dark:hover:bg-zinc-800"
    > -->

    <button class="flex items-center text-sm border border-gray-300 px-2 py-1 rounded hover:bg-gray-100 dark:hover:bg-zinc-800">

      <!-- <lucide-angular [img]="RefreshCwIcon" class="h-4 w-4 mr-2" [ngClass]="{ 'animate-spin': isLoading }"></lucide-angular> -->
      <lucide-angular [img]="RefreshCwIcon" class="h-4 w-4 mr-2"></lucide-angular>
      Actualizar
    </button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- UV Index -->
    <div class="space-y-2">
      <div class="flex items-center gap-2">
        <lucide-angular [img]="EyeIcon" class="h-5 w-5 text-orange-500"></lucide-angular>
        <span class="font-medium">Índice UV</span>
      </div>
      <div class="flex items-center gap-3">
        <span class="text-3xl font-bold">{{ solarData.uvIndex.toFixed(1) }}</span>
        <span class="text-white px-2 py-0.5 rounded-full text-sm" [ngClass]="uvLevel.color">{{ uvLevel.level }}</span>
      </div>
      <div class="bg-gray-200 rounded h-2 overflow-hidden">
        <div
          class="h-full bg-gray-900"
          [style]="{ width: (solarData.uvIndex / 12 * 100) + '%' }"
        ></div>
      </div>
    </div>

    <!-- Temperature -->
    <div class="space-y-2">
      <div class="flex items-center gap-2">
        <lucide-angular [img]="ThermometerIcon" class="h-5 w-5 text-red-500"></lucide-angular>
        <span class="font-medium">Temperatura</span>
      </div>
      <div class="flex items-center gap-3">
        <span class="text-3xl font-bold">{{ solarData.temperature.toFixed(1) }}°C</span>
      </div>
    </div>
  </div>

  <!-- Alert -->
  <div class="mt-6 border-1 border-l-4 p-4 rounded" [ngClass]="uvLevel.borderColor">
    <div class="flex items-start gap-2">
      <lucide-angular [img]="ShieldIcon" class="h-4 w-4 mt-0.5"></lucide-angular>
      <div class="font-semibold">{{ recommendations.safety }}</div>
    </div>
  </div>
</div>
