<div class="w-full lg:h-full md:p-6 p-4 flex flex-col justify-start bg-white shadow-sm rounded-xl">
  <div class="w-full flex items-center">
    <lucide-angular [img]="UmbrellaIcon" [color]="'#3b82f6'" class="w-5 h-5 mr-2"></lucide-angular>
    <h1 class="font-bold md:text-xl">Protección Recomendada</h1>
  </div>

  <ul class="w-full flex flex-col justify-start py-1 list-disc pl-5 marker:text-xl lg:marker:text-2xl marker:text-blue-400">
  @for (protection of recommendations.protection; track $index) {
    <li class="text-base text-gray-800 md:text-lg pt-1">{{protection}}</li>
    }
  </ul>
</div>
