<div class="w-full lg:h-full md:p-6 p-4 flex flex-col justify-between bg-white shadow-sm rounded-xl">
  <h1 class="font-bold md:text-xl">Información Rápida</h1>

  <div class="w-full flex flex-col justify-center items-center py-6">
    <h2 class="font-black text-2xl md:text-3xl" [ngClass]="uvLevel.textColor">{{uvLevel.level}}</h2> <!-- UVLevel -->
    <p class="text-gray-500 md:text-lg">Nivel de radiación</p>
  </div>

  <div class="w-full ">
    <div class="w-full flex flex-col justify-start py-1">
      <h2 class="font-bold text-base text-gray-800 md:text-lg">Ubicación</h2>
      <p class="text-gray-500 md:text-lg">Montería</p> <!-- Ciudad de ubicación -->
    </div>

    <div class="w-full flex flex-col justify-start py-1">
      <h2 class="font-bold text-base text-gray-800 md:text-lg">Proxima Actualización</h2>
      <p class="text-gray-500 md:text-lg">En 30 segundos</p> <!-- Tiempo para cada actualización -->
    </div>
  </div>
</div>
