<div class="w-full bg-principal flex flex-col items-center py-6">
  <app-header [title]="'Solar R+'"></app-header>

  <!-- Main Dashboard -->
   <!-- Documentación -->
  <div class="w-11/12 lg:w-10/12 grid grid-cols-1 lg:grid-cols-3 gap-6">
    <app-actual-state [solarData]="solarData" [recommendations]="recommendations" [uvLevel]="uvLevel" class="lg:col-span-2"></app-actual-state>
    <app-fast-info [solarData]="solarData" [uvLevel]="uvLevel" class="lg:col-span-1"></app-fast-info>
  </div>

  <!-- Protection and activities -->
  <div class="w-11/12 lg:w-10/12 grid grid-cols-1 lg:grid-cols-4 gap-6 mt-6">
    <app-protection [recommendations]="recommendations" [solarData]="solarData" class="lg:col-span-2"></app-protection>
    <app-activities [recommendations]="recommendations" class="lg:col-span-2"></app-activities>
  </div>

  <div class="w-11/12 lg:w-10/12 grid grid-cols-1 gap-6 mt-6">
    <app-info-square></app-info-square>
  </div>
</div>
